<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div id="app">
    <div v-if="show">
      <h1>{{ msg }}</h1>
    </div>
    <button @click="click">dis connect</button>

    <table class="table" border="1">
      <caption>共有物貸し出し管理</caption>
      <thead>
        <tr bgcolor="#c0ffc0">
          <th>ID</th>
          <th>貸出物</th>
          <th>状態</th>
          <th>持ち出し者</th>
          <th>NFC時刻</th>
          <th>振動時刻</th>
          <th>最終通信時刻</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.user }}</td>
          <td>{{ strTime(item.nfc_t) }}</td>
          <td>{{ strTime(item.move_t) }}</td>
          <td>{{ strTime(item.update_t) }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <input type="text" name="say" id="say" placeholder="Input a message here...">
  <button id="send">Send</button>
  <button id="nfc">NFC</button>
  <button id="move">move</button>
  <button id="keepalive">KeepAlive</button>
  <ul id="chat">
    <li v-for="m in messages">{{ m }}</li>
  </ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
  <script type="text/javascript">

    var data = {
      show: false,
      msg: '',
      items: [
      ]
    };
    new Vue({
      el: '#app',
      data: data,
      methods: {
        // デバッグ用クリックした場合
        click: function () {
          console.log("click");
          this.show = !this.show;
          client.disconnect();
        },
        // 日付文字列にする
        strTime: function(t) {
          return formatDate(new Date(t), 'HH:mm:ss');;
        }
      }
    });

    var data2 = {
      messages: []
    };
    new Vue({
      el: '#chat',
      data: data2
    });

    document.getElementById('send').addEventListener('click', function (e) {
      var say = document.getElementById('say');
      send(say.value);
      say.value = '';
    });

    document.getElementById('nfc').addEventListener('click', function (e) {
      nfc();
    });
    document.getElementById('move').addEventListener('click', function (e) {
      move();
    });
    document.getElementById('keepalive').addEventListener('click', function (e) {
      keepalive();
    });


    var clientId = Math.random().toString(36).substring(7);
    var client = new Paho.MQTT.Client("mqtt.eclipse.org", 80, clientId);
//    var client = new Paho.MQTT.Client("test.mosquitto.org", 80, clientId);
//    var client = new Paho.MQTT.Client("broker.hivemq.com", 80, clientId);
//    var client = new Paho.MQTT.Client("iot.eclipse.org", 80, clientId);

    client.connect({
      keepAliveInterval: 15,
      // コネクションできた
      onSuccess:function(){
        console.log("mqtt connect success");
        // 受信した
        client.onMessageArrived = function(message) {
          console.log(message.destinationName);
          //console.log(message.payloadString);
          let dt = JSON.parse(message.payloadString);
          receive(dt);
        }
        // 切断された
        client.onConnectionLost = function(message) {
          console.log('mqtt onConnectionLost')
          location.reload(true);
        }
        // 受信する
        client.subscribe('/jp/co/smeo/console', {
          onSuccess:function() {
            console.log("mqtt subscribe success");
          },
          onFailure:function() {
            console.log("mqtt subscribe fail");
          }
        })
      },
      onFailure:function(){
        console.log("mqtt connect fail");
      }
    })

    function receive(dt) {
      data2.messages.push(dt.cmd);
      if (dt.msg === undefined) {
        ;                              // メッセージが設定されていないときは何もしない
      } else if (dt.msg === '') {
        data.show = false;             // メッセージが空白の時は、消す
      } else {
        data.msg = dt.msg;             // それ以外（メッセージがある）は、表示
        data.show = true;
      }
      if (dt.dt.items) {
        data.items = dt.dt.items;
      }
      
    }


    function send(content) {
      let data = {
        cmd: content,
        msg: '',
        dt: {
          time: new Date().getTime()
        }
      }
      var message = new Paho.MQTT.Message(JSON.stringify(data));
      message.destinationName = "/jp/co/smeo/console";
      client.send(message);
    }

    function nfc() {
      let data = {
        cmd: 'nfc',
        dt: {
          id: '01071B2B00021601'
//          id: '010D0CCE003E1001'
//          id: '10E805C510040101'
        }
      }
      var message = new Paho.MQTT.Message(JSON.stringify(data));
      message.destinationName = "/jp/co/smeo/nfc";
      client.send(message);
    }
    function move() {
      let data = {
        cmd: 'move',
        dt: {
          id: '0413D2B7'
        }
      }
      var message = new Paho.MQTT.Message(JSON.stringify(data));
      message.destinationName = "/jp/co/smeo/enocean";
      client.send(message);
    }
    function keepalive() {
      let data = {
        cmd: 'keepalive',
        //msg: '',
        dt: {
          id: '0413D2B7'
        }
      }
      var message = new Paho.MQTT.Message(JSON.stringify(data));
      message.destinationName = "/jp/co/smeo/enocean";
      client.send(message);
    }

    function formatDate(date, format) {
      format = format.replace(/yyyy/g, date.getFullYear());
      format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
      format = format.replace(/dd/g, ('0' + date.getDate()).slice(-2));
      format = format.replace(/HH/g, ('0' + date.getHours()).slice(-2));
      format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));
      format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));
      format = format.replace(/SSS/g, ('00' + date.getMilliseconds()).slice(-3));
      return format;
    };

    // WebSocketのクライアントの生成
    let ws = new WebSocket('ws://localhost:5001');

    // 接続時に呼ばれる
    ws.addEventListener('open', e => {
      console.log('ws open');
    });

    // サーバからのデータ受信時に呼ばれる
    ws.addEventListener('message', e => {
      //console.log(e.data);
      let data = JSON.parse(e.data);
      //console.log(data.device, data.status);
      console.log('ws data', data);
      receive(data);
    });

  </script>
</body>
</html>